.home {
  padding: 1.35rem 0.5rem;
}
.home .tab {
  width: 100%;
  height: 2.1rem;
  border: 1px solid #1fd1c2;
  border-radius: 5px;
}
.home .tab li {
  width: 25%;
  float: left;
  height: 2.05rem;
  line-height: 2.05rem;
  text-align: center;
  color: #1fd1c2;
  border-right: 1px solid #1fd1c2;
}
.home .tab li:last-child {
  border-right: none;
}
.home .tab .active {
  background: #1fd1c2;
  color: #fff;
}
.home .chart {
  position: relative;
  padding: 2.5rem 2rem;
}
.home .chart .circle {
  text-align: center;
}
.home .chart .circle-right {
  -moz-transform: scaleY(-1) rotate(-90deg);
  -webkit-transform: scaleY(-1) rotate(-90deg);
  -o-transform: scaleY(-1) rotate(-90deg);
  transform: scaleY(-1) rotate(-90deg);
  /*IE*/
  filter: FlipV;
}
.home .chart .box {
  width: 196px;
  height: 196px;
  position: absolute;
  top: 3rem;
  left: 50%;
  margin-left: -98px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
}
.home .chart .box .title {
  padding-top: 16px;
  font-size: 0.7rem;
  color: #939393;
  line-height: 34px;
}
.home .chart .box .rate {
  position: relative;
  color: #fcb333;
  font-size: 60px;
  line-height: 82px;
}
.home .chart .box .rate span {
  position: absolute;
  font-size: 26px;
  line-height: 30px;
  bottom: 11px;
}
.home .chart .box .txt {
  font-size: 0.7rem;
  line-height: 20px;
  color: #939393;
}
.home .chart .box .view {
  margin-top: 8px;
  font-size: 0.7rem;
  line-height: 32px;
  color: #cdcdcd;
  border-top: 1px solid #cdcdcd;
}
.home .rate-money {
  padding: 0 1.5rem;
  font-size: 0.7rem;
  color: #939393;
}
.home .rate-money span {
  color: #fcb333;
}
.home .detail .rate {
  padding: 1.1rem 0.7rem;
}
.home .detail .rate .title {
  font-size: 0.6rem;
  color: #939393;
}
.home .detail .rate .num {
  position: relative;
  font-size: 3rem;
  line-height: 4rem;
  color: #fcb333;
  text-align: center;
}
.home .detail .rate .num span {
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  margin-left: 1.5rem;
  font-size: 1.3rem;
}
.home .detail .rate .txt {
  padding-top: 0.5rem;
  font-size: 0.6rem;
  color: #939393;
}
.home .detail .rate .txt .txt-left {
  width: 50%;
  float: left;
  text-align: left;
}
.home .detail .rate .txt .txt-right {
  width: 50%;
  float: left;
  text-align: right;
}
.home .detail .rate .txt span {
  color: #fcb333;
}
.home .detail .list li {
  width: 100%;
  height: 1.7rem;
  padding: 0 0.5rem;
  margin-bottom: 1px;
  font-size: 0.7rem;
  line-height: 1.7rem;
  background: #eee;
}
.home .detail .list .txt-left {
  width: 50%;
  float: left;
  text-align: left;
  color: #939393;
}
.home .detail .list .txt-right {
  width: 50%;
  float: left;
  text-align: right;
  color: #bababa;
}
.home .btn {
  padding: 1.75rem 1.25rem 0;
}
.home .btn button {
  width: 100%;
  height: 2.1rem;
  background: #1fd1c2;
  color: #fff;
  border: none;
  border-radius: 5px;
}
